<div class="container">

    <div class="grid grid-cols-12 gap-3">

        <div class="col-span-3 lg:col-span-10">

            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full"
                src="https://www.shutterstock.com/image-photo/young-indian-man-wearing-elegant-260nw-1448274716.jpg" 
                alt="">

            </div>

            <div class="col-span-6 lg:col-span-9">

                <div class="space-y-2">
                    <div>
                        <p class="font-semibold text-lg">Sandeep</p>
                        <p class="opacity-70">June 5, 2024</p>
                    </div>

                    <div>
                        <app-star-rating></app-star-rating>
                    </div>
                    <p>Nice Product</p>

                </div>

            </div>

        </div>

    </div>

</div>
